# 0.0. IMPORTS

## 0.1. Libries

In [1]:
import psycopg2 as pg
import pandas as pd
import pandas.io.sql as psql

## 0.2. Helper Functions

## 0.3.  Loading Data

In [3]:
# Credentials BD
host = 'comunidade-ds-postgres.c50pcakiuwi3.us-east-1.rds.amazonaws.com'
port = 5432
database = 'comunidadedsdb'
user = 'member'
pwd = 'cdspa'

#Create conection BD
conn = pg.connect( user=user,
            password=pwd,
            host=host,
            port=port,
            database=database )

#Join tables
query_tables_users = """
    SELECT *
    FROM pa004.users u LEFT JOIN pa004.vehicle   v ON ( u.id = v.id )
                       LEFT JOIN pa004.insurance i ON ( u.id = i.id )  
    WHERE u.age > 44
    
"""

df_raw = pd.read_sql( query_tables_users, conn )

#Drop duplicates id's 

df_raw = df_raw.drop( df_raw.columns[[5,9]], axis = 1)
df_raw.head()

/home/lucasas/anaconda3/envs/pa04healthinsurance-env/lib/python3.8/site-packages/pandas/io/sql.py:758: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,gender,age,region_code,policy_sales_channel,driving_license,vehicle_age,vehicle_damage,previously_insured,annual_premium,vintage,response
0,Female,56,28.0,26.0,1,1-2 Year,Yes,0,32031.0,72,1
1,Female,47,35.0,124.0,1,1-2 Year,Yes,0,47576.0,46,1
2,Male,45,8.0,124.0,1,1-2 Year,Yes,0,42297.0,264,0
3,Female,54,28.0,122.0,1,1-2 Year,No,0,38560.0,184,0
4,Female,49,3.0,152.0,1,1-2 Year,No,1,25553.0,130,0